NEXT_PUBLIC_APP_URL=https://demo-blinks.vercel.app
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_RPC_URL=https://api.devnet.solana.com
DONATION_WALLET_ADDRESS=HS7M3zgnFVucMMM5k1a2sPBPjRndfYNW7Ep6eMueCvX4
SOLANA_ACTION_VERSION=2.4
